<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- value after ':-' is the default in case logback.log.dir is undefined -->
    <property name="dir" value="/var/log/kafka_testing/"/>
    <property name="fileMain" value="kafka_testing"/>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
    </encoder>
</appender>
<root level="debug">
    <appender-ref ref="STDOUT" />
</root>




    <appender name="FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dir}/${fileMain}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.sss} [%thread] [%X{traceId}/%X{spanId}] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${dir}/${fileMain}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- Send logs to both console and file audit -->
    <logger name="hc.in.users" level="debug" additivity="false">
        <appender-ref ref="FILE-LOG"/>
    </logger>
    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="FILE-LOG"/>
    </logger>
    <logger name="org.springframework.data" level="debug" additivity="false">
        <appender-ref ref="FILE-LOG"/>
    </logger>
    <logger name="org.hibernate" level="ERROR" additivity="false">
        <appender-ref ref="FILE-LOG"/>
    </logger>

    <root level="info">
        <appender-ref ref="FILE-LOG"/>
    </root>

</configuration>